@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.footer {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    color: white;
    background-color: #35B67F;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}


#blurb {
    display: flex;
    justify-content: center;
    font-family: Times; 
    padding-top: 10px;
    font-size: 2em; 
}
.card {
    margin: 20px auto;
}

.menu{
    background-color: #35B67F;
    color:white;
    font-size: 18px;
}

.nav-link{
    color:white;
    padding: auto 15px;
}
.nav-link:hover{
    color:white;
}

.logo {
    height: 5em;
    padding-right: 10px;
    position:relative;
    top:0;
    left:0;
}

.navbar-toggler-icon{
    background-color: white;
    color:white;
}

.card-header{
    background-color: #68e0ace0;
    color: #247a55;

}
