@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.footer {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    color: white;
    background-color: #35B67F;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}


#blurb {
    display: flex;
    justify-content: center;
    font-family: Times; 
    padding-top: 10px;
    font-size: 1.5em; 
}
.card {
    padding-bottom: 10px;
}

.menu{
    background-color: #35B67F;
    color:white;
    font-size: 18px;
}

.nav-item{
    padding: auto 10px;
}

.nav-link{
    color:white;
}
.nav-link:hover{
    color:white;
}

.logo {
    max-width: 500px;
    overflow: hidden;
    padding-bottom: 10px;
    position:relative;
    top:0;
    left:0;
}

.logo a {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

.logo a img {
    max-width: 100%;
    max-height: 100px;
}

